* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	margin: auto;
	width: 70%;
	background-color: white;
}

.container {
	width: 1200px;
	margin: 2rem auto;
}

.item {
	float: left;
	width: 33.33%;
	padding-right: 0.25rem;
	margin-bottom: 0.5rem;
}

.image_1,
.image_2 {
	width: 100%;
}

.object > .image {
	position: relative;
}

.heart {
	position: absolute;
	top: 1rem;
	right: 0;
	background-color: white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5rem;
}

.target {
	position: absolute;
	bottom: 2rem;
	left: 0;
	color: white;
	font-weight: 900;
}

.discount,
.sustainability {
	display: inline-block;
	padding: 0.5rem;
}

.discount {
	background-color: #eb0037;
}

.sustainability {
	background-color: #00875a;
}

.image_2 {
	display: none;
}

.object:hover {
	cursor: pointer;
}

.object:hover .image_1 {
	display: none;
}

.object:hover .image_2 {
	display: inline-block;
}

.object:hover {
	box-shadow: 2px 3px 3px #ededed;
}
